---
---
{@import "jekyll-theme-minimal";
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap'");
@import url("https://fonts.googleapis.com/css?family=Lato:700|Muli&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@300;400;500;600&display=swap');


body{
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.footer{
  background-color: rgb(128, 128, 128);
  height: 100px;
}
}