---
---

@import "jekyll-theme-minimal";
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap'");
@import url("https://fonts.googleapis.com/css?family=Lato:700|Muli&display=swap");

body {
  font-family : "Muli", sans-serif;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

#water-monitering-system---iot-Project {
  white-space: break-spaces;
  width: 70%;
}

  
