<%- include("./partials/header") %>

<div class="container mt-5">
    <a href="/logout" class="btn btn-danger">Logout</a>
    <h2>Welcome <%= user.email %> </h2>
</div>

<%- include("./partials/footer") %>