<%- include("./partials/header") %>

<div class="container mt-5">
    <h1>Welcome to Client Db Access</h1>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-danger">Register</a>
</div>
<p>
   <center> Water Monitoring system | 2020 - 21 </center>
</p>

<%- include("./partials/footer") %>